@charset "UTF-8";
body {
  color: #393939;
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif; }

h1 {
  margin: 0;
  font-size: 60px;
  color: #3898ff; }

h1,
h2 {
  color: #3898ff; }

h1,
h2,
h3 {
  font-weight: 400; }

details summary {
  cursor: pointer; }

blockquote {
  font-style: italic; }

ul {
  list-style-type: circle; }

.dib {
  display: inline-block; }

.right {
  float: right;
  text-align: right; }

.top {
  vertical-align: top; }

.info:before {
  content: "ⓘ";
  padding-right: 10px; }

.section {
  padding: 55px 20px 70px;
  border-top: 1px dotted #3898ff; }
  .section:first-child {
    border: none; }
  .section--insection {
    padding: 35px 20px 50px;
    border-top-width: 2px;
    border-top-style: solid; }
  .section__inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-21 {
  font-size: 21px; }

.fs-35 {
  font-size: 35px; }

.m-0 {
  margin: 0px; }

.mt-0 {
  margin-top: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.mtb-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.ml-0 {
  margin-left: 0px; }

.mr-0 {
  margin-right: 0px; }

.mlr-0 {
  margin-left: 0px;
  margin-right: 0px; }

.m-10 {
  margin: 10px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.mlr-10 {
  margin-left: 10px;
  margin-right: 10px; }

.m-20 {
  margin: 20px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mr-20 {
  margin-right: 20px; }

.mlr-20 {
  margin-left: 20px;
  margin-right: 20px; }

.m-30 {
  margin: 30px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.ml-30 {
  margin-left: 30px; }

.mr-30 {
  margin-right: 30px; }

.mlr-30 {
  margin-left: 30px;
  margin-right: 30px; }

.m-40 {
  margin: 40px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.mr-40 {
  margin-right: 40px; }

.mlr-40 {
  margin-left: 40px;
  margin-right: 40px; }

.m-50 {
  margin: 50px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.ml-50 {
  margin-left: 50px; }

.mr-50 {
  margin-right: 50px; }

.mlr-50 {
  margin-left: 50px;
  margin-right: 50px; }

a {
  color: #3898ff; }

.caret-top {
  display: inline-block;
  margin-bottom: 20px;
  position: relative; }
  .caret-top:before, .caret-top:after {
    content: "";
    position: absolute; }
  .caret-top:before {
    top: 4px;
    right: -21px;
    border-bottom: 8px solid #393939;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }
  .caret-top:after {
    top: 5px;
    right: -20px;
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent; }

.caret-bottom {
  display: inline-block;
  margin-bottom: 20px;
  position: relative; }
  .caret-bottom:before, .caret-bottom:after {
    content: "";
    position: absolute; }
  .caret-bottom:before {
    top: 4px;
    right: -21px;
    border-top: 8px solid #393939;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }
  .caret-bottom:after {
    top: 4px;
    right: -20px;
    border-top: 7px solid white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent; }

.caret-right {
  display: inline-block;
  margin-bottom: 20px;
  position: relative; }
  .caret-right:before, .caret-right:after {
    content: "";
    position: absolute; }
  .caret-right:before {
    top: 4px;
    right: -13px;
    border-left: 8px solid #393939;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; }
  .caret-right:after {
    top: 5px;
    right: -12px;
    border-left: 7px solid white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; }

.caret-left {
  display: inline-block;
  margin-bottom: 20px;
  position: relative; }
  .caret-left:before, .caret-left:after {
    content: "";
    position: absolute; }
  .caret-left:before {
    top: 4px;
    right: -13px;
    border-right: 8px solid #393939;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; }
  .caret-left:after {
    top: 5px;
    right: -13px;
    border-right: 7px solid white;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; }

.caret-down {
  position: relative; }
  .caret-down:before, .caret-down:after {
    content: "";
    position: absolute; }
  .caret-down:before {
    top: 4px;
    right: -21px;
    border-top: 8px solid #393939;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }
  .caret-down:after {
    top: 4px;
    right: -20px;
    border-top: 7px solid white;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent; }

.carets__example {
  display: flex;
  flex-wrap: wrap; }

.triangle {
  display: inline-block;
  width: 80px;
  height: 40px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  background: #ff8484; }

.triangle-up {
  position: relative; }
  .triangle-up:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    left: calc(50% - 16px);
    border-bottom: 16px solid #ff8484;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent; }

.triangle-down {
  position: relative; }
  .triangle-down:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -16px;
    left: calc(50% - 16px);
    border-top: 16px solid #ff8484;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent; }

.triangle-right {
  position: relative; }
  .triangle-right:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -16px;
    top: calc(50% - 16px);
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #ff8484; }

.triangle-left {
  position: relative; }
  .triangle-left:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: -16px;
    top: calc(50% - 16px);
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid #ff8484; }

.spacing__example {
  color: white;
  background: #393939;
  border: 1px solid #ff8484; }

.p-0 {
  padding: 0px; }

.pt-0 {
  padding-top: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.ptb-0 {
  padding-top: 0px;
  padding-bottom: 0px; }

.pl-0 {
  padding-left: 0px; }

.pr-0 {
  padding-right: 0px; }

.plr-0 {
  padding-left: 0px;
  padding-right: 0px; }

.p-10 {
  padding: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.pr-10 {
  padding-right: 10px; }

.plr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.p-20 {
  padding: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pl-20 {
  padding-left: 20px; }

.pr-20 {
  padding-right: 20px; }

.plr-20 {
  padding-left: 20px;
  padding-right: 20px; }

.m-0 {
  margin: 0px; }

.mt-0 {
  margin-top: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.mtb-0 {
  margin-top: 0px;
  margin-bottom: 0px; }

.ml-0 {
  margin-left: 0px; }

.mr-0 {
  margin-right: 0px; }

.mlr-0 {
  margin-left: 0px;
  margin-right: 0px; }

.m-10 {
  margin: 10px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.mr-10 {
  margin-right: 10px; }

.mlr-10 {
  margin-left: 10px;
  margin-right: 10px; }

.m-20 {
  margin: 20px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.ml-20 {
  margin-left: 20px; }

.mr-20 {
  margin-right: 20px; }

.mlr-20 {
  margin-left: 20px;
  margin-right: 20px; }

.color-blue {
  color: #3898ff; }

.bg-blue {
  background-color: #3898ff; }

.color-pink {
  color: #ff8484; }

.bg-pink {
  background-color: #ff8484; }

.font-inherit code {
  font-size: inherit; }

.fs-10 {
  font-size: 10px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-20 {
  font-size: 20px; }

.gradient-text {
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  color: #ff8484;
  background: -webkit-linear-gradient(#ff8484 37%, #3898ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#spritesheet-animation {
  width: 200px;
  height: 400px; }

@keyframes ufgd2fqvh {
  from {
    background-position-x: 0px; }
  to {
    background-position-x: -1440px; } }
@keyframes ufgd2fqvm {
  from {
    background-position-y: 0px; }
  to {
    background-position-y: -1480px; } }
#spritesheet-animation {
  width: 240px;
  height: 296px;
  animation: ufgd2fqvh 200ms steps(6) infinite, ufgd2fqvm 1000ms steps(5) infinite;
  background-image: url("../img/spritesheet.png");
  background-position-y: 0;
  background-repeat: no-repeat; }

@media (min-width: 991px) {
  .pink-from-lg {
    color: #ff8484; } }

@media (max-width: 991px) {
  .pink-until-lg {
    color: #ff8484; } }

@media (min-width: 500px) and (max-width: 767px) {
  .pink-between-xs-md {
    color: #ff8484; } }

.some-img {
  width: 435;
  height: 234; }
  @media (max-width: 767px) {
    .some-img {
      width: 261;
      height: 140.4; } }

.el {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto; }

.hero {
  background-image: url("images/big-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: url("images/big-image@2x.png"); } }

.el, .el > * {
  position: relative;
  z-index: 1; }
.el:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
