doctype html
html(lang="en")
  head
    title= "some-sass-mixins demo"
    link(rel="stylesheet" href="style.css")
  body

    section.carets
      each val in ['top', 'bottom', 'right', 'left']
        span(class='caret-'+val)= 'caret ('+val+')'
        br

    section.triangles
      each val in ['up', 'down', 'right', 'left']
        .triangle(class='triangle-'+val)= 'triangle ('+val+')'
