+section('decoration', 'decoration', '_decoration.sass')
  +code
    | .gradient-text
    |    +gradient-text(#ff8484, #0008ff)
  +output
    | .gradient-text {
    |   color: #ff8484;
    |   background: -webkit-linear-gradient(#ff8484 37%, #3898ff);
    |   -webkit-background-clip: text;
    |   -webkit-text-fill-color: transparent; }

  .mt-40.fs-35.gradient-text gradient text
